---
layout: theme
permalink: /privacy-policy/index.html
title: Politica de Privacidad
---
<div class="main">
  <div data-testid="main.sections" class="main__sections main__sections--space">
  {%- capture content -%}
    <p>Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o realiza una compra en {{shop.name}} (el &ldquo;Sitio&rdquo;).</p>

    <p><h3>Información personal que recopilamos</h3>
    
    <p>Cuando visita el Sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluida información sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su dispositivo. Además, a medida que navega por el Sitio, recopilamos información sobre las páginas web individuales o los productos que ve, sitios web o términos de búsqueda que lo remitieron al Sitio e información sobre cómo interactúa con el Sitio. Nos referimos a esta información recopilada automáticamente como &ldquo;Información del dispositivo&rdquo;.</p></p>
    
    <p>Recopilamos información del dispositivo utilizando las siguientes tecnologías:</p>
    
    <ul>
      <li>&ldquo;Cookies&rdquo; son archivos de datos que se colocan en su dispositivo o computadora y, a menudo, incluyen un identificador único anónimo. Para obtener más información sobre las cookies y cómo deshabilitarlas, visite <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>.</li>
      <li>&ldquo;Log files&rdquo; rastrea las acciones que ocurren en el Sitio y recopilar datos, incluida su dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de referencia/salida y fecha/hora.</li>
      <li>&ldquo;Web beacons&rdquo;, &ldquo;tags&rdquo;, y &ldquo;pixels&rdquo; son archivos electrónicos que se utilizan para registrar información sobre cómo navega por el Sitio.</li>
    </ul>
    
    <p>Además, cuando realiza una compra o intenta realizar una compra a través del Sitio, recopilamos cierta información suya, incluido su nombre, dirección de facturación, dirección de envío, información de pago (no almacenamos números de tarjeta de crédito), dirección de correo electrónico y número de teléfono. Nos referimos a esta información como &ldquo;Información de pedido&rdquo;.</p>
    <p>Cuando hablamos de &ldquo;Información personal&rdquo; En esta Política de privacidad, hablamos tanto de Información del dispositivo como de Información de pedido.</p>
    
    <h3>¿Como usamos tu información personal?</h3>
    
    <p>Usamos la Información que recopilamos para cumplir con el pedido realizado a través del Sitio (incluido el procesamiento de su información de pago, la organización del envío y el suministro de facturas y/o confirmaciones de pedido). Además, utilizamos esta información de pedido para:</p>
    
    <ul>
      <li>Comunicarse contigo;</li>
      <li>Examinar nuestros pedidos para detectar posibles riesgos o fraudes; y</li>
      <li>Proporcionarle información o publicidad relacionada con nuestros productos o servicios.</li>
    </ul>
    
    <p>Usamos la Información del dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes (en particular, su dirección IP) y, de manera más general, para mejorar y optimizar nuestro Sitio (por ejemplo, generando análisis sobre cómo nuestros clientes navegan e interactúan con el Sitio y para evaluar el éxito de nuestras campañas de marketing y publicidad).</p>
    
    <h3>Compartiendo su información personal</h3>
    
    <p>Compartimos su información personal con servicios para ayudarnos a utilizar y comprenderla. Por ejemplo, utilizamos FuturiDev para impulsar nuestra tienda en línea. También utilizamos Google Analytics para ayudarnos a comprender cómo nuestros clientes usan el Sitio; puede leer más sobre cómo Google usa su información personal aquí: <a href="https://policies.google.com/privacy?hl=es" target="_blank">https://policies.google.com/privacy?hl=es</a>. También puede darse de baja de Google Analytics aquí: <a href="https://tools.google.com/dlpage/gaoptout?hl=es" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=es</a>.</p>
    <p>Finalmente, también podemos compartir su información personal para cumplir con las leyes y regulaciones aplicables, para responder a una citación, orden de registro u otras solicitudes legales de información que recibimos, o para proteger nuestros derechos.</p>
    
    <h3>Publicidad</h3>
    
    <p>Como se describió anteriormente, utilizamos su información personal para proporcionarle anuncios o comunicaciones de marketing dirigidas que creemos que pueden ser de su interés. Para obtener más información sobre cómo funciona la publicidad dirigida, puede visitar la página educativa de Network Advertising Initiative&rsquo;s (&ldquo;NAI&rdquo;) en <a href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work" target="_blank">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.</p>
    <p>Puede optar por no recibir publicidad utilizando los enlaces a continuación:</p>
    
    <ul>
      <li>Facebook: <a href="https://www.facebook.com/settings/?tab=ads" target="_blank">https://www.facebook.com/settings/?tab=ads</a></li>
      <li>Google: <a href="https://www.google.com/settings/ads/anonymous" target="_blank">https://www.google.com/settings/ads/anonymous</a></li>
      <li>Bing: <a href="https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads" target="_blank">https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads</a></li>
    </ul>
    
    <p>Además, puede optar por no recibir algunos de estos servicios visitando el portal de exclusión voluntaria de Digital Advertising Alliance&rsquo;s en:<a href="http://optout.aboutads.info/" target="_blank">http://optout.aboutads.info/</a>.</p>
    
    <h3>Do not track</h3>
    
    <p>Tenga en cuenta que no modificamos el Sitio sobre la recopilación de datos y practicas cuando vemos una señal de Do not track desde su navegador.</p>
    
    <h3>Retención de datos</h3>
    
    <p>Cuando realiza un pedido a través del Sitio, mantendremos su Información de pedido para nuestros registros a menos que y hasta que nos solicite que eliminemos esta información.</p>
    
    <h3>YouTube y Google</h3>
    
    <p>Al usar el Sitio, usted reconoce que el Sitio puede usar los servicios de la API de YouTube y, como tal, el usuario acepta estar sujeto a los términos de servicio de YouTube que se encuentran en el siguiente enlace: <a href="https://www.youtube.com/t/terms" target="_blank">https://www.youtube.com/t/terms</a>. Al utilizar esos servicios, también reconoce y acepta la Política de privacidad de Google, que se puede encontrar a través del siguiente enlace: <a href="https://www.google.com/policies/privacy" target="_blank">https://www.google.com/policies/privacy</a>.</p>
    
    <h3>Cambios</h3>
    
    <p>Podemos actualizar esta política de privacidad de vez en cuando para reflejar, por ejemplo cambios en nuestras prácticas o por otras razones operativas, legales o reglamentarias.</p>
    
    <h3>Contacta con nosotros</h3>
    
    <p>Para obtener más información sobre nuestras prácticas de privacidad, si tiene preguntas o si desea presentar una queja, comuníquese con nosotros por correo electrónico a <a href="mailto:h@futuri.dev">contacto@nabaegopa.com</a>.</p>
    
    <p>Arequipa, Perú - {{ "now" | date: "%Y" }} {{ shop.name }}<br></p>
  {%- endcapture -%}
    {% include sections/page.liquid title="Política de privacidad" content=content%}
  </div>
</div>