---
layout: theme
permalink: /terms-of-service/index.html
title: Términos de servicio
---
<div class="main">
  <div data-testid="main.sections" class="main__sections main__sections--space">
  {%- capture content -%}
  <h3>LEA DETENIDAMENTE LOS SIGUIENTES TÉRMINOS.</h3>
  <p><strong>AL ACCEDER O UTILIZAR EL SERVICIO DE OTRA MANERA</strong>, USTED ACEPTA QUE TIENE
    LEÍDO Y ENTENDIDO Y, COMO CONDICIÓN PARA EL USO DEL SERVICIO, USTED ACEPTA ESTAR OBLIGADO POR LOS SIGUIENTES TÉRMINOS
    Y CONDICIONES, INCLUIDA LA POLÍTICA DE PRIVACIDAD (EN CONJUNTO, ESTOS “<strong>TÉRMINOS</strong>”). SI NO ERES
    ELEGIBLE O NO ACEPTA LOS TÉRMINOS, ENTONCES NO TIENE NUESTRO PERMISO PARA UTILIZAR EL SERVICIO. SU USO DEL
    EL SERVICIO Y LA PROVISIÓN DEL SERVICIO CONSTITUYEN UN ACUERDO POR PARTE DEL SITIO Y USTED DE ESTAR OBLIGADO
    SEGÚN ESTOS TÉRMINOS.</p>
  <ol>
    <li>
      <p><strong>Elegibilidad.</strong> Debe tener al menos 13 años para utilizar el Servicio. Al aceptar estos Términos,
        usted declara y garantiza que: (a) tiene al menos 13 años de edad; (b) no ha sido previamente
        suspendido o eliminado del Servicio; y (c) su registro y su uso del Servicio cumplen con
        con todas y cada una de las leyes y regulaciones aplicables. Si usted es una entidad, organización, el individuo
        aceptar estos Términos en su nombre representa y garantiza que tienen autoridad para vincularlo a estos Términos
        y usted acepta estar sujeto a estos Términos.</p>
    </li>
    <li>
      <p><strong>Licencias</strong></p>
      <ol>
        <li>
          <p><strong>Licencia limitada.</strong> Sujeto a su cumplimiento total y continuo de estos Términos, Sitio
            le otorga, únicamente para su uso personal y no comercial, una licencia limitada, no exclusiva, intransferible,
            Licencia revocable y no sublicenciable para acceder y utilizar el Servicio.</p>
        </li>
        <li>
          <p><strong>Restricciones de licencia.</strong> Excepto y únicamente en la medida en que dicha restricción sea inadmisible
            Según la ley aplicable, usted no puede: (a) reproducir, distribuir, exhibir públicamente o realizar públicamente el
            Servicio; (b) realizar modificaciones al Servicio; o (c) interferir o eludir cualquier característica del
            Servicio, incluyendo cualquier mecanismo de seguridad o control de acceso. Si la ley aplicable le prohíbe
            Al utilizar el Servicio, no podrá utilizarlo.</p>
        </li>
      </ol>
    </li>
    <li>
      <p><strong>Propiedad; Derechos de propiedad.</strong> El Servicio es propiedad del Sitio y está operado por él. Lo visual
        interfaces, gráficos, diseño, compilación, información, datos, código informático (incluido el código fuente o el código objeto).
        código), productos, software, servicios y todos los demás elementos del Servicio y Productos
        (“<strong>Materiales</strong>”) proporcionados por el Sitio están protegidos por la propiedad intelectual y otras leyes.
        Todos los Materiales incluidos en el Servicio son propiedad del Sitio o de sus terceros licenciantes. Excepto como
        autorizado expresamente por el Sitio, no podrá hacer uso de los Materiales. El sitiose reserva todos los derechos sobre el
        Materiales no otorgados expresamente en estos Términos.</p>
    </li>
    <li>
      <p><strong>Conducta prohibida.</strong> AL UTILIZAR EL SERVICIO, USTED ACEPTA NO:</p>
      <ul style="list-style-type: lower-alpha;">
        <li>usar el Servicio para cualquier propósito ilegal o en violación de cualquier ley local, estatal, nacional o internacional;
        </li>
        <li>violar o alentar a otros a violar cualquier derecho de un tercero, incluso infringiendo o
          apropiarse indebidamente de cualquier derecho de propiedad intelectual de terceros;</li>
        <li>interferir con las funciones relacionadas con la seguridad del Servicio, incluso mediante: (i) deshabilitar o eludir
          características que impiden o limitan el uso o la copia de cualquier contenido; o (ii) ingeniería inversa o de otro modo
          intentar descubrir el código fuente de cualquier parte del Servicio, excepto en la medida en que la actividad sea
          expresamente permitido por la ley aplicable;</li>
        <li>interferir con el funcionamiento del Servicio o el disfrute del Servicio por parte de cualquier usuario, incluso mediante: (i)
          cargar o difundir de otro modo cualquier virus, adware, spyware, gusano u otro código malicioso; (ii) hacer
          cualquier oferta o publicidad no solicitada dirigida a otro usuario del Servicio; (iii) recopilar información personal
          sobre otro usuario o tercero sin consentimiento; o (iv) interferir o interrumpir cualquier red,
          equipo o servidor conectado o utilizado para proporcionar el Servicio;</li>
        <li>realizar cualquier actividad fraudulenta, incluida hacerse pasar por cualquier persona o entidad, alegar una afiliación falsa,
          acceder a cualquier otra cuenta de Servicio sin permiso o falsificar su edad o fecha de nacimiento;</li>
        <li>vender o transferir de otro modo el acceso otorgado en virtud de estos Términos o cualquier Material (como se define en la Sección 6)
          o cualquier derecho o capacidad para ver, acceder o utilizar cualquier Material; o</li>
        <li>intentar realizar cualquiera de los actos descritos en esta Sección 7 o ayudar o permitir que cualquier persona participe en cualquier
          de los actos descritos en esta Sección 7.</li>
      </ul>
    </li>
    <li>
      <p><strong>Modificación de estos Términos.</strong> Nos reservamos el derecho de cambiar estos Términos en el futuro.
        base en cualquier momento. cualquier disposición de estos Términos, su autorización para acceder al Servicio y estos Términos
        terminar automáticamente. Además, Sitio pueden, a su entera discreción, rescindir
        estos Términos o su cuenta en el Servicio, o suspender o cancelar su acceso al Servicio, en cualquier momento por
        por cualquier motivo o sin motivo, con o sin previo aviso.
      </p>
    </li>
    <li>
      <p><strong>Modificación del Servicio.</strong> El Sitio se reserva el derecho de modificar o discontinuar el Servicio.
        en cualquier momento (incluso limitando o descontinuando ciertas características del Servicio), temporal o
        permanentemente, sin previo aviso. El Sitio no tendrá ninguna responsabilidad por ningún cambio en el Servicio o cualquier
        suspensión o terminación de su acceso o uso del Servicio.</p>
    </li>
    <li>
      <p><strong>Indemnización.</strong> En la máxima medida permitida por la ley, usted es responsable del uso que haga del
        Servicio, y defenderá e indemnizará al Sitio y sus funcionarios, directores, empleados, consultores,
        afiliados, subsidiarias y agentes (en conjunto, las “<strong>Entidades</strong>”) de y
        contra cada reclamo presentado por un tercero, y cualquier responsabilidad, daño, pérdida y gasto relacionado, incluyendo
        honorarios y costos razonables de abogados, que surjan o estén relacionados con: (a) su uso no autorizado o indebido
        del Servicio; (b) su violación de cualquier parte de estos Términos, cualquier representación, garantía o acuerdo
        mencionado en estos Términos, o cualquier ley o regulación aplicable; (c) su violación de cualquier derecho de terceros,
        incluyendo cualquier derecho de propiedad intelectual o publicidad, confidencialidad, otra propiedad o derecho de privacidad; o
        (d) cualquier disputa o problema entre usted y un tercero. Nos reservamos el derecho, por nuestra cuenta, de asumir el
        defensa y control exclusivos de cualquier asunto sujeto a indemnización por su parte (sin limitar su
        obligaciones de indemnización con respecto a ese asunto), y en ese caso, usted acepta cooperar con nuestro
        defensa de esos reclamos.</p>
    </li>
    <li>
      <p><strong>Descargos de responsabilidad; Sin garantías</strong></p>
      <p>EL SERVICIO Y TODOS LOS MATERIALES Y CONTENIDOS DISPONIBLES A TRAVÉS DEL SERVICIO SE PROPORCIONAN “TAL CUAL” Y “TAL CUAL”.
        DISPONIBLE”. SITIO RENUNCIA A TODA GARANTÍA DE CUALQUIER TIPO, YA SEA EXPRESA O IMPLÍCITA, RELACIONADA CON EL
        SERVICIO Y TODOS LOS MATERIALES Y CONTENIDO DISPONIBLES A TRAVÉS DEL SERVICIO, INCLUYENDO: (A) CUALQUIER IMPLÍCITO</p>
      <p>NINGÚN CONSEJO O INFORMACIÓN, YA SEA ORAL O ESCRITO, OBTENIDO POR USTED DEL SERVICIO O ENTIDADES Creadoras O CUALQUIER
        LOS MATERIALES O CONTENIDO DISPONIBLES A TRAVÉS DEL SERVICIO CREARÁN CUALQUIER GARANTÍA CON RESPECTO AL SITIO.
        ENTIDADES O EL SERVICIO QUE NO ESTÉ EXPRESAMENTE ESTABLECIDO EN ESTOS TÉRMINOS. NO SOMOS RESPONSABLES DE NINGÚN DAÑO QUE
        PUEDE RESULTAR DEL SERVICIO Y DE SU TRATO CON CUALQUIER OTRO USUARIO DEL SERVICIO. USTED ENTIENDE Y ACEPTA QUE UTILIZA
        CUALQUIER PARTE DEL SERVICIO BAJO SU PROPIA DISCRECIÓN Y RIESGO, Y QUE NO SOMOS RESPONSABLES DE NINGÚN DAÑO A
        SU PROPIEDAD (INCLUYENDO SU SISTEMA INFORMÁTICO O DISPOSITIVO MÓVIL UTILIZADO EN RELACIÓN CON EL SERVICIO) O CUALQUIER PÉRDIDA
        DE DATOS, INCLUYENDO EL CONTENIDO DEL USUARIO.</p>
    </li>
    <li>
      <p><strong>Varios</strong></p>
      <ol>
        <li>
          <p><strong>Términos Generales.</strong>Estos Términos, junto con la Política de Privacidad y cualquier otro acuerdo
            incorporados expresamente por referencia en estos Términos, son el entendimiento total y exclusivo y
            acuerdo entre usted y el Sitio con respecto a su uso del Servicio. No podrá ceder ni transferir estos
            Términos o sus derechos bajo estos Términos, en su totalidad o en parte, por operación de ley o de otro modo, sin nuestro
            consentimiento previo por escrito. Podemos asignar estos Términos en cualquier momento sin previo aviso o consentimiento. El fracaso para
            exigir el cumplimiento de cualquier disposición no afectará nuestro derecho a exigir el cumplimiento en cualquier otro momento
            después de eso, ni una renuncia por nuestra parte de cualquier incumplimiento o incumplimiento de estos Términos, o cualquier disposición de estos
            Términos, será una renuncia a cualquier incumplimiento o incumplimiento posterior o una renuncia a la disposición en sí. uso de la sección
            encabezados en estos Términos es solo para su conveniencia y no tendrá ningún impacto en la interpretación de cualquier
            disposición. A lo largo de estos Términos, el uso de la palabra "incluido" significa "incluido, entre otros". Si
            Si alguna parte de estos Términos se considera inválida o inaplicable, la parte inaplicable entrará en vigor.
            en la mayor medida posible, y las partes restantes permanecerán en pleno vigor y efecto.</p>
        </li>
        <li>
          <p><strong>Política de privacidad.</strong> Lea la <a href="/privacy-policy/">Política de privacidad</a> del Sitio.
            cuidadosamente para obtener información relacionada con nuestra recopilación, uso, almacenamiento y divulgación de su información personal.
            La Política de Privacidad del Sitio se incorpora mediante esta referencia a estos Términos y forma parte de ellos.</p>
        </li>
        <li>
          <p><strong>Términos adicionales.</strong>Su uso del Servicio está sujeto a todos los términos, políticas y
            reglas o pautas aplicables al Servicio o ciertas características del Servicio que podemos publicar en o
            enlace desde el Servicio (los “<strong>Términos Adicionales</strong>”). Todos los Términos adicionales están incorporados por
            esta referencia en estos Términos y forma parte de ellos.</p>
        </li>
        <li>
          <p><strong>Consentimiento para comunicaciones electrónicas.</strong>Al utilizar el Servicio, usted acepta recibir
            ciertas comunicaciones electrónicas nuestras como se describe con más detalle en nuestra Política de Privacidad. Por favor lea nuestro
            Política de privacidad para obtener más información sobre nuestras prácticas de comunicaciones electrónicas. Usted acepta que cualquier aviso,
            Los acuerdos, divulgaciones u otras comunicaciones que le enviamos electrónicamente satisfarán cualquier obligación legal.
            requisitos de comunicación, incluido que dichas comunicaciones se realicen por escrito.</p>
        </li>
        <li>
          <p><strong>Sin soporte.</strong> No tenemos ninguna obligación de brindar soporte para el Servicio. En casos
            donde podamos ofrecer soporte, el soporte estará sujeto a las políticas publicadas.</p>
        </li>
      </ol>
    </li>
  </ol>
  {%- endcapture -%}
    {% include sections/page.liquid title="Términos de servicio" content=content%}
  </div>
</div>