---
layout: theme
permalink: /404.html
title: "Page not found"
description: "Page not found."
redirect: true
---
<div class="main main--404">
  <div class="main__sections">
    <section class="template-404">
      <div class="container wrapper">
        <h1 class="template-404__heading">404</h1>
        <p class="template-404__subheading">Page not found.</p>

        <div class="template-404__cta">
          <a
            href="{{ routes.root_url }}"
            title="{{ shop.name }}"
            class="button button--primary button--large button--wide"
          >
            Go Back Home
          </a>
        </div>
      </div>
    </section>
  </div>
</div>