<div class="container container--8 wrapper">
  <div class="static-page">
    <div class="static-page__header">
      <h1 class="static-page__heading">
        {{ page.title }}
      </h1>
    </div>

    <div class="static-page__content">
      <div class="markdown markdown--page">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
