---
layout: theme
---
<div class="main">
  <div class="main__sections main__sections--space">
    {% include sections/image.liquid size=5 image=page.image title=page.title %}

    {% include sections/page.liquid title=page.title content=page.content %}
  </div>
</div>
