<div class="breadcrumbs breadcrumbs--product">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">
        Inicio
      </a>
    </li>

    <li class="breadcrumbs__item">
      <span class="breadcrumbs__current">
        asda
        {{ product.title }}
      </span>
    </li>
  </ul>
</div>
