<div class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a href="/" class="breadcrumbs__link">
        Home
      </a>
    </li>
  
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__current">
        {{ product.title }}
      </span>
    </li>
  </ul>
</div>
