<div class="tiers__gift-cta">
  <div class="tiers__gift-container">
    <div class="tiers__gift-content">
      <div class="tiers__gift-heading">
        Gift to viewers on Twitch
      </div>
      <div class="tiers__gift-text">
        <p>You can gift this membership to lucky viewers who currently watch the <span><a data-gift="stream" href="{{ social_networks.twitch.url }}" class="tiers__gift-link">stream</a></span>!</p>
      </div>
    </div>
    <div class="tiers__gift-image">
      <div class="tiers__gift-twitch-icon">
        {% include 'icon-twitch' %}
      </div>
      <div class="tiers__gift-arrow">
        {% include 'icon-arrow' %}
      </div>
    </div>
  </div>
</div>